<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Execution runs</title>
</head>

<body>
  <h1>Execution run: {{ selected_execution.id }}</h1>
  <form method="post">
    {% csrf_token %}
    <select id="execution-run" name="execution-run">
      {% for run in all_execution_runs %}
      <option value="{{ run.id }}">Description: {{ run.description }} : {{ run.created_at|date:"Y-m-d H:i:s" }} : {{ run.id }}</option>
      {% endfor %}
    </select>
    <button type="submit">Submit</button>
  </form>

  <h2>Themes (current)</h2>
  <ul>
    {% for theme in themes %}
    <li>
      <a href="{% url 'edit_theme' theme.id %}">{{ theme.name }} : {{ theme.id }}</a>
      <form action="{% url 'delete_theme' theme.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Delete</button>
      </form>
    </li>
    {% endfor %}
  </ul>

  <h2>Create theme for selected execution ID: {{ selected_execution.id }}</h2>
    <form action="{% url 'create_theme' selected_execution.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="execution-run-id" id="selected-execution-run-id">
      <button type="submit">Create theme</button>
    </form>

  <h2>Initial state of themes using history</h2>
    <ul>
      {% for theme in initial_themes_history %}
      <li>
        {{ theme.name }} : {{ theme.id }} : {{ theme.history_date|date:"Y-m-d H:i:s" }}
      </li>
      {% endfor %}
    </ul>



</body>






</html>

