<!DOCTYPE html>
<html>

<head>
  <title>Generate mapping</title>
</head>

<body>
  <h1>Generate mapping - responses to themes</h1>
  <form method="post">
    {% csrf_token %}
    <label for="framework_id">Framework ID:</label>
    <select id="framework_id" name="framework_id" required>
      <option value="">Select a framework</option>
      {% for id in framework_ids %}
      <option value="{{ id }}">{{ id }}</option>
      {% endfor %}
    </select>
    <button type="submit">Run dummy pipeline</button>
  </form>
  <a href="{% url 'homepage' %}">Back to homepage</a>

</body>

</html>
